@model IEnumerable<BookModelsLayer.Models.items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selfLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selfLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
